.title{
    display: flex;
    justify-content: center;
}

form > p:last-child{
    display: flex;
    justify-content: center;
}

.error-msg{
    text-align: center;
    margin-top: 2em;
    color: red;
}

#form_login {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}