#highlights article{
    border: thin solid black;
}

#title{
    font-size:300%;
    font-weight: 900;
    margin:0;
}

.logo-home {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#search-div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#search > input{
    box-sizing:border-box;
    margin-left: 0.5em;
    margin-right:1em;
    width: 50vw;
    height: 3em;
    border-radius: 1em;
    padding: 1em;
    border:none;
    background-color: lightgray;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
