#search > input{
    box-sizing:border-box;
    margin-left: 2.5em;
    margin-right:1em;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 3em;
    border-radius: 1em;
    padding: 1em;
    border:none;
    background-color: lightgray;
}

.search-button
{
    display: flex;
    justify-content: initial;
}

.results-grid
{
    margin-top: 20px;
    display: flex;  
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    justify-content:space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    min-width: 200px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 10px 16px;
  }

  .card img{
    border-radius: 50%;
    width: 100%;
  }

  .container a{
    cursor: pointer;
    margin-bottom: 20px;
  }

  .fa-heart{
    color:red;
  }

  #toggle{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .wrapper{
    display: flex;
    height: 10%;
    width: 20%;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 15px;
  }
  .wrapper .option{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
    margin-left: 10px
  }
