#search > input{
    box-sizing:border-box;
    margin-left: 0.5em;
    margin-right:1em;
    width: 80%;
    height: 3em;
    border-radius: 1em;
    padding: 1em;
    border:none;
    background-color: lightgray;
}

#results-grid
{
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
}

#results-grid > a
{
    margin: 2em;
    flex-shrink: 0;
    background-color: lightgray;
    width: 20%;
}
